@media (max-width: 425px) {
  html {
    width: auto !important;
    overflow-x: hidden !important;
  }

  .container-fluid {
    width: 100%;
    overflow-x: hidden;
  }

  .follow-up {
    .follow {
      margin-top: 30px;
    }

    #checkbox-followup {
      td {
        span {
          margin-right: 30px;
        }
      }
    }
  }

  .remembers {
    img {
      margin-top: 40px;
      margin-bottom: 10px;
    }

    .profile-card {
      width: 100%;
      margin-top: 60px;
    }
  }

  .stay-connected {
    .star-image {
      margin-top: 0 !important;
      justify-content: flex-end !important;
    }

    .check {
      td {
        span {
          margin-right: 30px;
        }
      }
    }
  }

  .ourteam {
    h2 {
      text-align: center;
    }

    .web-grid {
      display: none;
    }

    p {
      width: 100% !important;
    }

    .mobile-grid {
      display: contents;

      .row-2-1png {
        img {
          margin-left: -16px;
        }
      }

      .row-2-2png {
        img {
          margin-top: -43px;
          padding-left: 30px;
        }
      }

      .row-2-4png {
        img {
          margin-top: -80px;
          margin-right: 32px;
        }
      }

      .row-2-5png {
        img {
          margin-right: -18px;
        }
      }
    }
  }

  .web-grid2 {
    display: none;
  }

  .mobile-grid2 {
    display: contents !important;

    .row-2-slidepng {
      margin-left: 62px;
      margin-top: 12px;
    }

    .row-2-6png {
      margin-left: -18px;
      margin-top: -20px;
    }

    .row-2-7png {
      margin-right: -33px;
      margin-top: -75px;
    }
  }

  .footer {
    margin-top: 40px;

    .footer-circle {
      margin-left: -34px;
    }

    .col-md-7 {
      h2 {
        margin-left: 20px;
      }

      p {
        margin-left: 20px;
      }
    }

    button {
      margin-left: 20px;
    }

    .footer-desc-list {
      margin-left: 115px;
    }
  }
}

@media (max-width: 320px) {
  .follow-up {
    p {
      width: 100%;
    }

    #checkbox-followup {
      td {
        span {
          margin-right: 0;
        }
      }
    }
  }

  .remembers {
    .remembersDesc {
      width: 100%;
    }
  }
}
